fastapi
uvicorn[standard]
motor
pymongo[srv]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
aiofiles
email-validator
numpy==1.26.4
tensorflow-cpu==2.15.0
keras==2.15.0
tf-keras==2.15.0
ml-dtypes==0.2.0
deepface==0.0.93
opencv-python-headless
Pillow
tqdm
requests
pandas
qrcode[pil]
bcrypt==4.0.1
pydantic[email]